.banner {
    width: 100%;
    height: 80Vh;
    display: flex;
    top: 0
}

.banner__imagen {
    background: url('../multimedia/bannerChampi.jpg');
    width: 100%;
    height: 100%;
    /* opacity: 0.8; */
    background-position: center;
    background-position-x: 20%;
    display: flex;
    align-items: center;
}

.banner__descripcion {
    width: 50%;
    height: 12vw;
    margin-left: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__titulo {
    text-transform: uppercase;
    font-size: 6rem;
    color: var(--colorTexto);
    margin-bottom: 2rem;
}

.banner__texto {
    color: var(--colorTexto);
    font-size: 3rem;
    margin-top: 7px;
    margin-bottom: 4rem;
}

.banner__boton {
    width: 30%;
    height: 10vh;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: var(--colorBoton);
    border: 1px solid var(--colorTexto);
    color: var(--colorTexto);
    border-radius: 50px;
    text-transform: uppercase;
    padding: 1.5rem;
}

.banner__boton:hover {
    background-color: var(--colorTexto);
    border: 1px solid var(--colorBoton);
    color: var(--colorBoton);
}

.banner__link {
    text-decoration: none;
    color: var(--colorTexto);
}

.banner__boton:hover .banner__link {
    color: var(--colorBoton);
}