.colecciones {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coleccion {
    width: 90%;
    height: calc(90vw / 2);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.coleccion:first-of-type + .coleccion {
    flex-direction: row;
}

.coleccion__imagen {
    width: 50%;
    height: 100%
}

.coleccion__descripcion {
    width: 50%;

}

.descripcion__titulo {
    width: 65%;
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--colorTexto2);
    font-weight:lighter;
}

.descripcion__texto {
    width: 65%;
     font-weight:lighter;
     color: var(--colorTexto3);
}

.descripcion__linea {
    border: 2px solid var(--colorDetalles);
}

.descripcion__boton {
    width: 35%;
    text-transform: uppercase;
    color: var(--colorTexto);
    background-color: var(--colorFondo);
    padding: 0.5rem;
    border-radius: 50px;
    border: none;
    margin-top: 1.5rem;
}