.colecciones {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coleccion {
    width: 90%;
    height: calc(90vw / 2);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.coleccion--reverse {
    flex-direction: row;
}

.coleccion__imagen {
    width: 50%;
    height: 100%
}

.coleccion__descripcion {
    width: 50%;

}

.descripcion__titulo {
    width: 65%;
    text-transform: uppercase;
    font-size: 3rem;
    color: var(--colorTexto2);
    font-weight:700;
}

.descripcion__texto {
    width: 80%;
    color: var(--colorTexto3);
    font-size: 2rem;
    font-weight:300;
    margin-bottom: 1rem;
}

.descripcion__linea {
    border: 1px solid var(--colorDetalles);
}

.descripcion__boton {
    width: 35%;
    text-transform: uppercase;
    color: var(--colorTexto);
    background-color: var(--colorFondo);
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 50px;
    border: none;
    margin-top: 3rem;
}