.header {
    width: 100%;
    height: 10vh;
    color: var(--colorTexto);
    background-color: var(--colorFondo);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 25%;
    padding-left: 4rem;
}

.nav__container {
    display: flex;
    width: 35%;
    padding-right: 4rem;
    justify-content: space-between
}

.nav {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    padding: 0
}

.nav__item {
    list-style: none;
}

.nav__icono {
    transform: rotate(270deg);
    width: 10%;
    margin-left: 0.1rem;
}

.nav__link, .subnav__link {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--colorTexto);
    font-size: 1.5rem;
    display: block;
}

.nav__subnav {
    display: none;
    position: absolute;
    width: 12%;
    background-color: var(--colorFondo);
}

.subnav__item {
    float: none;
    list-style: none;
    margin: 1rem;
}

.nav__item--submenu:hover > .nav__subnav {
    display: block;
}

.icono {
    width: 8%;
}